<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>AIdentify</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>Privacy - Photo Library Usage Description
Privacy - Photo Library Usage Description
Privacy - Photo Library Usage Description
privacy - Photo Library Usage Description </key>
	<string>We use this to let you pick media to analyze.
We use this to let you pick media to analyze.
We use this to let you pick media to analyze</string>
</dict>
</plist>
